div.zentai{
    display: grid;
    font-size: 0.5cm;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: minmax(100px,auto);
    grid-gap: 20px;
    margin: 2cm;
}
.box1{
    background-color: rgb(7, 7, 8);
    color: rgb(255, 255, 255);
}
.box2{

}
  
  

