div.zentai{
    display: grid;
    font-size: 0.5cm;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: minmax(100px,auto);
    grid-gap: 20px;
    margin: 2cm;
    color: rgb(212, 200, 241);
    background-color: rgb(196, 196, 196);
}
.box1{
    background-color: rgb(158, 156, 165);
}
.box{
    color: rgb(212, 200, 241);
}
  
  

