.border{
    border: 5px solid rgb(0, 255, 115);
    padding: 30px;
    margin: 50px;
    height: 150px;
    background: rgba(128, 139, 243, 0.479);
}
.border1{
    border: 5px rgb(255, 255, 255);
}
.em{
    
}